# Core AI
torch>=2.0.0
torchaudio>=2.0.0
whisperx
faster-whisper
transformers

# Utilities
ffmpeg-python
numpy
pandas

# Dev Tools

# API & Worker
fastapi
uvicorn
celery[redis]
python-multipart
python-dotenv
